<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
            padding-right: 0;
        }

        .transition-c {
            transition: transform 0.5s;
        }

        .mdl-list__item:hover {
            transform: scale(1.02);
            background-color: rgb(197, 195, 199);
        }

        .mdl-button-floating {
            position: fixed;
            bottom: 20px;
            /* adjust the value to change the distance from the bottom */
            right: 20px;
            /* adjust the value to change the distance from the right */
        }
    </style>
    <script src="{{ url_for('static', filename='vars.js') }}"></script>
    <script src="{{ url_for('static', filename='playlist.js') }}"></script>
    <script src="{{ url_for('static', filename='subtitle.js') }}"></script>
</head>

<body>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">IST Broadcasting Display Controller</span>
                <div class="mdl-layout-spacer"></div>
                <div
                    class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp" />
                    </div>
                </div>
            </div>

            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Basic Controls</a>
                <a href="#scroll-tab-2" onclick="get_videos('playlist-ul')" class="mdl-layout__tab">Playlist</a>
                <a href="#scroll-tab-3" onclick="get_videos('videos-ul')" class="mdl-layout__tab">Videos</a>
                <a href="#scroll-tab-4" onclick="get_subtitle()" class="mdl-layout__tab">Notice</a>
                <!-- <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
                <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a> -->
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">IST BDC</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#settings">Settings</a>
                <a class="mdl-navigation__link" href="#about">About</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                    <div class="page-content">
                        <div class="video-thum-container" style="text-align: center; margin-top: 1%">
                            <video src="/videos/vid.mp4#t=2" width="600px" height="600px"></video>
                        </div>
                        <div class="video-info" style="
                            text-align: center;
                            margin-top: 1%;
                            font-size: x-large;
                            flex-direction: row;
                            align-items: center;
                            display: flex;
                            flex-wrap: nowrap;
                            align-content: center;
                            justify-content: center;
                        ">
                            <span style="font-weight: bold">Now Playing</span>
                            <i class="material-icons">arrow_forward_ios</i>
                            <span id="video_name" style="font-weight: bold">video_name</span>
                        </div>
                        <div class="controls" style="text-align: center; margin-top: 1%">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
                                style="margin: 1%">
                                <i class="material-icons">skip_previous</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
                                style="margin: 1%">
                                <i class="material-icons">play_arrow</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
                                style="margin: 1%">
                                <i class="material-icons">skip_next</i>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                    <div class="page-content" style="padding-inline: 1%;">
                        <ul id="playlist-ul" class="demo-list-control mdl-list">
                            <!-- <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-1">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 1
                                </span>
                                <span onclick="move_up(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_upward</i>
                                    </label>
                                </span>
                                <span onclick="move_down(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_downward</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li>
                            <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-2">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 2
                                </span>
                                <span onclick="move_up(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_upward</i>
                                    </label>
                                </span>
                                <span onclick="move_down(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_downward</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li> -->
                            <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-3">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 3
                                </span>
                                <span onclick="move_up(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_upward</i>
                                    </label>
                                </span>
                                <span onclick="move_down(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">arrow_downward</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                    <div class="page-content" style="padding-inline: 1%;">
                      <input type="file" id="video-file-input" style="display: none;">
                      <button class="mdl-button-floating mdl-button mdl-js-button mdl-button--fab" id="upload-button">
                        <i class="material-icons">upload_file</i>
                    </button>

                        <ul id="videos-ul" class="demo-list-control mdl-list">
                            <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-1">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 1
                                </span>
                                <span onclick="play(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">play_arrow</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li>
                            <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-2">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 2
                                </span>
                                <span onclick="play(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">play_arrow</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li>
                            <li class="transition-c mdl-list__item" data-video-id="1" id="playlist-item-3">
                                <span class="mdl-list__item-primary-content" style="overflow-wrap: anywhere;">
                                    <i class="material-icons  mdl-list__item-avatar">person</i>
                                    Bryan Cranston 3
                                </span>
                                <span onclick="play(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">play_arrow</i>
                                    </label>
                                </span>
                                <span onclick="del(this)" class="mdl-list__item-secondary-action"
                                    style="margin-inline: 10px;">
                                    <label class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">close</i>
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="mdl-layout__tab-panel" id="scroll-tab-4">
                    <div class="page-content" style="padding-inline: 4%;">
                        <h5>Subtitle</h5>
                        <!-- Floating Multiline Textfield -->
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                                <textarea id="subtitle_input" class="mdl-textfield__input" type="text" rows="6" id="sample5"></textarea>
                                <label class="mdl-textfield__label" for="sample5">Write Subtitle Here...</label>
                            </div>
                        </form>
                        <button onclick="post_subtitle()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Save
                        </button>
                    </div>
                </section>
                <section class="mdl-layout__tab-panel" id="scroll-tab-5">
                    <div class="page-content"><!-- Your content goes here --></div>
                </section>
                <section class="mdl-layout__tab-panel" id="scroll-tab-6">
                    <div class="page-content"><!-- Your content goes here --></div>
                </section>
            </div>
        </main>
    </div>
</body>
<script>
    document.getElementById('upload-button').addEventListener('click', function () {
    document.getElementById('video-file-input').click();
});

document.getElementById('video-file-input').addEventListener('change', function () {
    var file = this.files[0];
    if (file) {
        var formData = new FormData();
        formData.append('video', file);

        fetch(SERVER_URL + '/upload_video', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log(data);
            })
            .catch(error => {
                // Handle any errors that occurred during the fetch request
                console.error(error);
            });
    }
});
</script>

</html>